<div class="header-contact">
	<div class="icons">
		<a href="https://www.facebook.com/EhlenAnalytics/"><i class="fab fa-facebook-f" /></a>
		<a href="https://twitter.com/ehlenanalytics?lang=en"><i class="fab fa-twitter" /></a>
		<a href="https://www.linkedin.com/company/ehlen-analytics/mycompany/"
			><i class="fab fa-linkedin-in" /></a
		>
		<a href="https://www.instagram.com/ehlenanalytics/?hl=en"><i class="fab fa-instagram" /></a>
	</div>
	<div class="text">
		<a href="mailto:help@ehlenanalytics.net"><i class="fas fa-envelope" />help@ehlenanalytics.net</a
		>
		<a href="tel:828-974-6408"><i class="fas fa-phone-volume" />(828) 974-6408</a>
	</div>
</div>

<style>
	.header-contact {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 1rem;
	}

	.icons {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 1rem 1rem;
	}

	.icons i {
		background-color: var(--color-transparent-white);
		border-radius: 50%;
		color: var(--color-tertiary);
		font-size: 1.5rem;
		margin-right: 1rem;
		padding: 1rem 1.2rem;
	}

	.icons i:hover {
		background-color: var(--color-primary);
		color: var(--color-white);
	}

	.text {
		align-items: center;
		display: flex;
	}

	.text a {
		color: var(--color-tertiary);
		font-size: 1.5rem;
		text-decoration: none;
	}

	.text a:not(:last-child) {
		margin-right: 5rem;
	}

	.text i {
		font-size: 1.5rem;
		margin-right: 1rem;
	}
</style>
